<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linklyze.account.mapper.ProductOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linklyze.account.model.ProductOrderDO">
        <id column="id" property="id" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="product_id" property="productId" />
        <result column="product_title" property="productTitle" />
        <result column="product_amount" property="productAmount" />
        <result column="product_snapshot" property="productSnapshot" />
        <result column="buy_num" property="buyNum" />
        <result column="out_trade_no" property="outTradeNo" />
        <result column="state" property="state" />
        <result column="pay_time" property="payTime" />
        <result column="total_amount" property="totalAmount" />
        <result column="pay_amount" property="payAmount" />
        <result column="pay_type" property="payType" />
        <result column="nickname" property="nickname" />
        <result column="account_no" property="accountNo" />
        <result column="bill_type" property="billType" />
        <result column="bill_header" property="billHeader" />
        <result column="bill_content" property="billContent" />
        <result column="bill_receiver_phone" property="billReceiverPhone" />
        <result column="bill_receiver_email" property="billReceiverEmail" />
    </resultMap>

</mapper>
