<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyu.plato.visual.mapper.AccessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wyu.plato.visual.model.DwsWideInfo">
        <result column="code" property="code" />
        <result column="referer" property="referer" />
        <result column="ip" property="ip" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="isp" property="isp" />
        <result column="deviceType" property="deviceType" />
        <result column="os" property="os" />
        <result column="browserType" property="browserType" />
        <result column="deviceManufacturer" property="deviceManufacturer" />
        <result column="timestamp" property="timestamp" />
        <result column="start" property="start" />
        <result column="end" property="end" />
        <result column="uv" property="uv" />
        <result column="pv" property="pv" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code,
        referer,
        ip,
        country,
        province,
        city, isp, deviceType, os, browserType, deviceManufacturer, `timestamp`, `start`, `end`, uv, pv
    </sql>

</mapper>
